{% comment %}<svg xmlns="http://www.w3.org/2000/svg" role="img" focusable="false" fill="none" viewBox="0 0 19 20"><path fill="currentColor" fill-rule="evenodd" d="M0 20a9.024 9.024 0 014.8-7.385c.316.236.653.446 1.007.626A8.027 8.027 0 001.002 20H0zm18.006 0a9.024 9.024 0 00-4.827-7.399 6.997 6.997 0 01-1.004.63A8.028 8.028 0 0117.003 20h1.003z" clip-rule="evenodd"/><circle cx="8.98" cy="7" r="6.5" stroke="currentColor"/></svg>{% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
</svg>
