<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  {% render 'judgeme_core' %}
<head>

	<meta charset="utf-8">
	{%- comment -%}DemoStoreRequirements{%- endcomment -%}

	<title>
		{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	<script type="text/javascript">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% if template contains 'product' %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% else %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endif %}

	{% render 'social-meta-tags' %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<!-- CSS -->
	{% render 'css-variables' %}

	{% if template == 'index' %}
  		<link rel="preload" href="{{ 'theme-index.min.css' | asset_url }}" as="style">
		{{ 'theme-index.min.css' | asset_url | stylesheet_tag }}
	{% elsif template.name == 'collection' %}
	    <link rel="preload" href="{{ 'theme-collection.min.css' | asset_url }}" as="style">
	    {{ 'theme-collection.min.css' | asset_url | stylesheet_tag }}
	{% elsif template == 'list-collections' %}
	    <link rel="preload" href="{{ 'theme-collection-list.min.css' | asset_url }}" as="style">
	    {{ 'theme-collection-list.min.css' | asset_url | stylesheet_tag }}
	{% elsif template.name == 'product' %}
		<link rel="preload" href="{{ 'theme-product.min.css' | asset_url }}" as="style">
	  	{{ 'theme-product.min.css' | asset_url | stylesheet_tag }}
	{% elsif template.name == 'blog' %}
		<link rel="preload" href="{{ 'theme-blog.min.css' | asset_url }}" as="style">
	  	{{ 'theme-blog.min.css' | asset_url | stylesheet_tag }}
	{% elsif template == 'cart' %}
		<link rel="preload" href="{{ 'theme-cart.min.css' | asset_url }}" as="style">
	  	{{ 'theme-cart.min.css' | asset_url | stylesheet_tag }}
	{% else %}
		<link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style">
	  	{{ 'theme.min.css' | asset_url | stylesheet_tag }}
	{% endif %}
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	{% render 'font-links' %}

	{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

	{{ content_for_header }}

	<script type="text/javascript">
	window.lazySizesConfig = window.lazySizesConfig || {};
	window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

	// configure available widths to replace with the {width} placeholder
	window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];

	window.wetheme = {
		name: 'Fresh',
	};
	</script>

	{% if template contains 'customers' %}
		<script src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
		<script src="{{ 'customer_area.js' | shopify_asset_url }}" async></script>
	{% endif %}

	{% if template.name == 'article' %}
		<script src="{{ 'textSlideshow.js' | asset_url }}" defer="defer"></script>
	{% endif %}
</head>

{% assign cart_visible = true %}
{% if settings.cart-type == 'persistent' and settings.persistent-cart-visibility == 'product_collection' %}
	{% if template != 'product' and template != 'collection' %}
		{% assign cart_visible = false %}
	{% endif %}
{% endif %}

<body
	id="{{ page_title | handle }}"
	class="page-title--{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} flexbox-wrapper"
	data-cart-type="{{ settings.cart-type }}"
	{% if settings.cart-type == 'persistent' %}
	data-cart-visible="{{ cart_visible }}"
	{% endif %}
>
	<div class="main-body-wrapper{% if template == 'search' %} search-template{% elsif template.name == 'collection' %} collection-template{% endif %}" id="PageContainer" data-cart-action="{{ settings.cart-action }}" data-cart-type="{{ settings.cart-type }}">
		{% if template != 'cart' %}
			{% render 'cart-drawer' %}
		{% endif %}

		<div id="main-body" data-editor-open="{{ request.design_mode }}">

			<noscript>
				<div class="no-js disclaimer container">
					<p>{{ "general.disclaimer.javascript_disabled" | t }}</p>
				</div>
			</noscript>

			<div id="slideout-overlay"></div>

			{% section 'announcement-bar' %}
			{% section 'header' %}

			<main id="main">

					{% if template contains 'customers' %}
						<div class="container">
					{% endif %}

					{{ content_for_layout }}

					{% if template contains 'customers' %}
						</div>
					{% endif %}

			</main>

			{% section 'footer' %}
		</div>

	</div>

	{% if settings.enable_verification_popup %}
		{% render 'verification-popup' %}
	{% endif %}

	{% if settings.popup--enable %}
		{% render 'popup' %}
	{% endif %}

	<script type="application/json" id="wetheme-global">
		{
			{% comment %}Translations that will be used in javascript section handling{% endcomment %}
			"translations": {
				"addToCart": {{ 'products.product.add_to_cart' | t | json }},
				"added": {{ 'products.product.added' | t | json }},
				"soldOut": {{ 'products.product.sold_out' | t | json }},
				"unavailable": {{ 'products.product.unavailable' | t | json }},
				"makeASelection": {{ 'products.product.make_a_selection' | t | json }},
				"showMore": {{ 'general.filters.show_more' | t | json }},
				"showLess": {{ 'general.filters.show_less' | t | json }},
				"saving": {{ 'products.general.saving' | t | json }},
				"products": {{ 'general.search.products' | t | json }},
				"pages": {{ 'general.search.pages' | t | json }},
				"collections": {{ 'general.search.collections' | t | json }},
				"articles": {{ 'general.search.articles' | t | json }},
				"loading": {{ 'collections.paginate.loading' | t | json }},
				"applyFilterLabel": {{ 'collections.filters.apply_label' | t | json }},
				"removeFilterLabel": {{ 'collections.filters.remove_label' | t | json }},
				"no_results_html": {{ 'general.search.no_results_html' | t | json }},
				"view_all": {{ 'general.search.view_all' | t | json }},
				"clear": {{ 'general.search.clear' | t | json }},
				"cart_title": {{ 'cart.general.title' | t | json }},
				"cart_subtotal": {{ 'cart.general.subtotal' | t | json }},
				"added_to_cart": {{ 'cart.general.added_to' | t | json }},
				"removed_from_cart": {{ 'cart.general.removed_from' | t | json }},
				"cart_item": {{ 'cart.general.item' | t | json }},
				"slide": {{ 'general.slider.slide' | t | json }},
				"pause": {{ 'general.slider.pause' | t | json }},
				"search_found": {{ 'general.search.search_found' | t | json }},
				"none_found": {{ 'general.search.none_found' | t | json }},
				"search_result": {{ 'general.search.search_result' | t | json }},
				"search_result_plural": {{ 'general.search.search_result_plural' | t | json }}
			},
			"moneyFormat": {{ shop.money_format | json }}
		}
	</script>
	{% render 'structured-data' %}

	{{ 'mms.css' | asset_url | stylesheet_tag }}
	{{ 'custom.css' | asset_url | stylesheet_tag }}
	{{ 'bsicons.css' | asset_url | stylesheet_tag }}


	<script defer type="module" src="{{ 'theme.js' | asset_url }}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script defer type="module" src="{{ 'circletype.min.js' | asset_url }}"></script>
	<script defer type="module" src="{{ 'custom.js' | asset_url }}"></script>
	<script defer nomodule src="{{ 'theme.legacy.js' | asset_url }}"></script>
</body>

</html>
