{{ 'section-blog-posts.min.css' | asset_url | stylesheet_tag }}

{% assign block = section.blocks.first %}
{% assign post_count = 0 %}
{% if block.type == 'blog' %}
  {% assign post_count = block.settings.post_limit %}
{% elsif block.type == 'article' %}
  {% for i in (1..4) %}
    {% assign blog_post = 'blog_post_' | append: i %}
    {% if block.settings[blog_post] != blank %}
      {% assign post_count = post_count | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

{%- capture post_count_grid -%}
  {%- case post_count -%}
    {%- when 0 -%}
      col-sm-4
    {%- when 1 -%}
      col-sm-6 offset-sm-3
    {%- when 2 -%}
      col-sm-6
    {%- when 3 -%}
      col-sm-4
    {%- when 4 -%}
      col-md-3
  {%- endcase -%}
{%- endcapture -%}

{% capture placeholder-blog-post %}
  <article class="{{ post_count_grid }} index-blog-item--wrapper index-blog-item--image---{{ section.settings.imageSize }}">

    {% if section.settings.show_blog_images %}
      <div class="placeholder-article-image">
        {% capture current %}{% cycle 1, 2, 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'icon--placeholder' }}
      </div>
    {% endif %}

    <div class="blog-title-wrapper homepage-blog-title-wrapper{% if article.image %} article-image-in-header{% endif %}">
      <h3 class="type-subheading type-subheading--1"><a href="#">{{ 'general.onboarding.blog_title' | t }}</a></h3>
    </div>

    <div class="rte home-blog-excerpt">
      {{ 'general.onboarding.blog_excerpt' | t }}
    </div>

  </article>
{% endcapture %}

<section class="homepage-sections-wrapper">

  <div class="container featured-blog--block--{{ section.id }}">
    <div class="row">
      <div class="page-width col-md-12">

        {% if section.settings.title != blank or section.settings.subheading != blank %}
          <div class="title-bar custom-font">
            {% if section.settings.subheading != blank %}
              <h3 class="type-subheading type-subheading--1 wow{% if section.settings.title != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2 class="wow">{{ section.settings.title | escape }}</h2>
            {% endif %}
          </div>
        {% endif %}

        {% unless block %}
          <div class="row">
            {% for i in (1..3) %}
              {{ placeholder-blog-post }}
            {% endfor %}
          </div>
        {% endunless %}

        {% case block.type %}
          {% when "article" %}

            {% if post_count == 0 %}
              <div class="row" {{ block.shopify_attributes }}>
                {% for i in (1..3) %}
                  {{ placeholder-blog-post }}
                {% endfor %}
              </div>
            {% endif %}

            <div class="row grid--blog" {{ block.shopify_attributes }}>

              {% for i in (1..4) %}
                {% assign blog_post = 'blog_post_' | append: i %}
                {% assign current_post = articles[block.settings[blog_post]] %}
                {% assign section-id = '.featured-blog--block--' | append: section.id %}
                {% assign selector = ' .article--background-image--' | append: forloop.index | prepend: section-id %}

                {% unless current_post == empty %}
                  <style>
                    {% render 'responsive-background-image--no-formatting' with current_post.image, alt: current_post.title, selector: selector %}
                  </style>

                  <article class="{{ post_count_grid }} wow index-blog-item--wrapper index-blog-item--image---{{ section.settings.imageSize }}">
                    <div class="article_padding">
                      {% if section.settings.show_blog_images %}
                        {% if current_post.image %}
                          {% if section.settings.imageSize == 'natural' %}
                            <div class="article-image">
                              <a href="{{ current_post.url }}" tabindex="-1">

                              </a>
                            </div>
                          {% else %}
                            <a href="{{ current_post.url }}" tabindex="-1">
                              <div class="article--background-image article--background-image--{{ forloop.index }}"></div>
                            </a>
                          {% endif %}
                        {% endif %}
                      {% endif %}

                      <div class="blog-title-wrapper homepage-blog-title-wrapper{% if current_post.image and section.settings.show_blog_images %} article-image-in-header{% endif %}">
                        <h3 class="type-subheading type-subheading--1"><a href="{{ current_post.url }}">{{ current_post.title }}</a></h3>
                        {% if section.settings.show_dates or section.settings.show_author_name %}
                          <div class="blog__date-author">
                            <div class="blog-publish-date">
                              {% if section.settings.show_dates %}
                                <time class="updated blog--indiv-date" datetime="{{ current_post.published_at | date: format: 'long' }}"
                                      pubdate>{{ current_post.published_at | date: format: 'month_day_year' }}</time>
                              {% endif %}

                              {% if section.settings.show_dates and section.settings.show_author_name %}
                                <span>  |  </span>
                              {% endif %}

                              {% if section.settings.show_author_name %}<span>
                                {{ current_post.author }}</span>
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}
                      </div>

                      <div class="rte home-blog-excerpt">
                        {% if current_post.excerpt.size > 0 %}
                          {{ current_post.excerpt | strip_html | truncatewords: 25 }}
                        {% else %}
                          {{ current_post.content | strip_html | truncatewords: 25 }}
                        {% endif %}
                      </div>
                      <div class="blog__author">
                        <p class="blog__author__text">By {{ article.metafields.blog.author }}</p>
                      </div>

                      <div class="blog--read-more">
                        <a href="{{ current_post.url }}" class="button--text-subdued" tabindex="-1">{{ 'blogs.article.read_more' | t }}</a>
                      </div>
                    </div>
                  </article>
                {% endunless %}
              {% endfor %}
            </div>

          {% when "blog" %}
            {% assign selected_blog = blogs[block.settings.blog] %}
            {% for article in selected_blog.articles limit: post_count %}
              {% assign selector = ' .article--background-image--' | append: forloop.index | prepend: section-id %}
              <style>
                {% render 'responsive-background-image--no-formatting' with article.image, alt: article.title, selector: selector %}
              </style>
            {% endfor %}

            <div class="row grid--blog" {{ block.shopify_attributes }}>
              {% unless selected_blog == empty %}
                {% comment %}<div class="blog_articles_wrapper">{% endcomment %}
                {% for article in selected_blog.articles limit: post_count %}

                  {% assign section-id = '.featured-blog--block--' | append: section.id %}
                  {% assign selector = ' .article--background-image--' | append: forloop.index | prepend: section-id %}

                  <article class="{{ post_count_grid }} wow index-blog-item--wrapper index-blog-item--image---{{ section.settings.imageSize }}">
                    <div class="article_padding">
                      {% if section.settings.show_blog_images %}
                        {% if article.image %}
                          {% if section.settings.imageSize == 'natural' %}
                            <div class="article-image">
                              <a href="{{ article.url }}" tabindex="-1">
                                {% render 'responsive-image' with article.image, alt: article.title %}
                              </a>
                            </div>
                          {% else %}
                            <a href="{{ article.url }}" tabindex="-1">
                              <div class="article--background-image article--background-image--{{ forloop.index }}"></div>
                            </a>
                          {% endif %}
                        {% endif %}
                      {% endif %}

                      <div class="blog-title-wrapper homepage-blog-title-wrapper{% if article.image and section.settings.show_blog_images %} article-image-in-header{% endif %}">
                        <h3 class="type-subheading type-subheading--1"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                        {% if section.settings.show_dates or section.settings.show_author_name %}
                          <div class="blog__date-author">
                            <div class="blog-publish-date">
                              {% if section.settings.show_dates %}
                                <time class="updated blog--indiv-date" datetime="{{ article.published_at | date: format: 'long' }}"
                                      pubdate>{{ article.published_at | date: format: 'month_day_year' }}</time>
                              {% endif %}

                              {% if section.settings.show_dates and section.settings.show_author_name %}
                                <span>  |  </span>
                              {% endif %}

                              {% if section.settings.show_author_name %}<span>
                                {{ article.author }}</span>
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}
                      </div>

                      <div class="rte home-blog-excerpt">
                        {{ article.excerpt_or_content | truncatewords: 25 }}
                      </div>
                      <div class="blog__author">
                        <p class="blog__author__text">By {{ article.metafields.blog.author }}</p>
                      </div>

                      <div class="blog--read-more">
                        <a href="{{ article.url }}" class="button--text-subdued" tabindex="-1">{{ 'blogs.article.read_more' | t }}</a>
                      </div>
                    </div>
                  </article>
                {% endfor %}
                {% comment %}</div>{% endcomment %}


              {% else %}

                <div class="row">
                  {% for i in (1..post_count) %}
                    {{ placeholder-blog-post }}
                  {% endfor %}
                </div>
              {% endunless %}
            </div>
            {% if block.settings.show_view_all %}
              <div class="text-center wow" style="margin: 50px auto">
                <a href="{{ selected_blog.url }}" class="btn">
                  {{ 'blogs.general.view_all' | t }}
                </a>
              </div>
            {% endif %}

        {% endcase %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": {
    "en": "Blog posts",
    "de": "Blogposts",
    "es": "Publicaciones del blog",
    "fr": "Articles de blog",
    "pt-PT": "Publicações no blog"
  },
  "class": "homepage-section--blog-posts-wrapper",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": {
        "en": "Subheading",
        "de": "Unterüberschrift",
        "es": "Subencabezado",
        "fr": "Sous-rubrique",
        "pt-PT": "Subtítulo"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading",
        "de": "Überschrift",
        "es": "Encabezado",
        "fr": "Rubrique",
        "pt-PT": "Título"
      },
      "default": {
        "en": "From the blog",
        "de": "Aus dem Blog",
        "es": "Del blog",
        "fr": "Du blog",
        "pt-PT": "Do blog"
      }
    },
    {
      "type": "checkbox",
      "id": "show_author_name",
      "label": {
        "en": "Show author name",
        "de": "Autorennamen anzeigen",
        "es": "Mostrar el nombre de autor",
        "fr": "Afficher le nom de l'auteur",
        "pt-PT": "Mostrar nome do autor"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_dates",
      "label": {
        "en": "Show dates",
        "de": "Daten anzeigen",
        "es": "Mostrar fechas",
        "fr": "Afficher les dates",
        "pt-PT": "Mostrar datas"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_blog_images",
      "label": {
        "en": "Show post images",
        "de": "Postbilder anzeigen",
        "es": "Mostrar imágenes publicadas",
        "fr": "Afficher les images du message",
        "pt-PT": "Mostrar imagens de publicações"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "imageSize",
      "options": [
        {
          "value": "natural",
          "label": {
            "en": "Natural",
            "de": "Natürlich",
            "es": "Natural",
            "fr": "Naturel",
            "pt-PT": "Natural"
          }
        },
        {
          "value": "square",
          "label": {
            "en": "Square (1:1)",
            "de": "Quadrat (1:1)",
            "es": "Cuadrado (1:1)",
            "fr": "Carré (1:1)",
            "pt-PT": "Quadrado (1:1)"
          }
        },
        {
          "value": "landscape",
          "label": {
            "en": "Landscape (4:3)",
            "de": "Landschaft (4:3)",
            "es": "Apaisado (4:3)",
            "fr": "Paysage (4:3)",
            "pt-PT": "Horizontal (4:3)"
          }
        },
        {
          "value": "portrait",
          "label": {
            "en": "Portrait (2:3)",
            "de": "Porträt (2:3)",
            "es": "Retrato (2:3)",
            "fr": "Portrait (2:3)",
            "pt-PT": "Vertical (2:3)"
          }
        },
        {
          "value": "wide",
          "label": {
            "en": "Wide (16:9)",
            "de": "Breit (16:9)",
            "es": "Ancho (16:9)",
            "fr": "Large (16:9)",
            "pt-PT": "Largo (16:9)"
          }
        }
      ],
      "label": {
        "en": "Image size",
        "de": "Bildgröße",
        "es": "Tamaño de la imagen",
        "fr": "Taille de l'image",
        "pt-PT": "Tamanho da imagem"
      },
      "default": "square"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": {
        "en": "Selected blog posts",
        "de": "Ausgewählte Blogbeiträge",
        "es": "Publicaciones de blog seleccionadas",
        "fr": "Articles du blog sélectionnés",
        "pt-PT": "Publicações do blogue selecionadas"
      },
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "Selected blog posts",
            "de": "Ausgewählte Blogbeiträge",
            "es": "Publicaciones de blog seleccionadas",
            "fr": "Articles du blog sélectionnés",
            "pt-PT": "Publicações do blogue selecionadas"
          },
          "info": {
            "en": "Choose the blog posts you want to feature",
            "de": "Wählen Sie die Blogbeiträge, die Sie präsentieren möchten",
            "es": "Elige las publicaciones del blog que quieres destacar",
            "fr": "Choisissez les articles du blog que vous souhaitez mettre en avant",
            "pt-PT": "Escolha as publicações do blogue que pretende apresentar"
          }
        },
        {
          "type": "article",
          "id": "blog_post_1",
          "label": {
            "en": "First blog post",
            "de": "Erster Blogbeitrag",
            "es": "Primera publicación del blog",
            "fr": "Premier article du blog",
            "pt-PT": "Primeira publicação do blogue"
          }
        },
        {
          "type": "article",
          "id": "blog_post_2",
          "label": {
            "en": "Second blog post",
            "de": "Zweiter Blogbeitrag",
            "es": "Segunda publicación del blog",
            "fr": "Deuxième article du blog",
            "pt-PT": "Segunda publicação do blogue"
          }
        },
        {
          "type": "article",
          "id": "blog_post_3",
          "label": {
            "en": "Third blog post",
            "de": "Dritter Blogbeitrag",
            "es": "Tercera publicación del blog",
            "fr": "Troisième article du blog",
            "pt-PT": "Terceira publicação do blogue"
          }
        },
        {
          "type": "article",
          "id": "blog_post_4",
          "label": {
            "en": "Fourth blog post",
            "de": "Vierter Blogbeitrag",
            "es": "Cuarta publicación del blog",
            "fr": "Quatrième article du blog",
            "pt-PT": "Quarta publicação do blogue"
          }
        }
      ]
    },
    {
      "type": "blog",
      "name": {
        "en": "Selected blog",
        "de": "Ausgewählter Blog",
        "es": "Blog seleccionado",
        "fr": "Blog sélectionné",
        "pt-PT": "Blogue selecionado"
      },
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "Selected blog",
            "de": "Ausgewählter Blog",
            "es": "Blog seleccionado",
            "fr": "Blog sélectionné",
            "pt-PT": "Blogue selecionado"
          },
          "info": {
            "en": "Choose the blog you want to feature",
            "de": "Wählen Sie den Blog, den Sie präsentieren möchten",
            "es": "Elige el blog que quieres destacar",
            "fr": "Choisissez le blog que vous souhaitez mettre en avant",
            "pt-PT": "Escolha o blogue que pretende apresentar"
          }
        },
        {
          "type": "blog",
          "id": "blog",
          "label": {
            "en": "Blog",
            "de": "Blog",
            "es": "Blog",
            "fr": "Blog",
            "pt-PT": "Blog"
          }
        },
        {
          "type": "range",
          "id": "post_limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "label": {
            "en": "Posts",
            "de": "Posts",
            "es": "Publicaciones",
            "fr": "Messages",
            "pt-PT": "Publicações"
          },
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "label": {
            "en": "Show 'View all' button",
            "de": "„Alle ansehen“-Button anzeigen",
            "es": "Mostrar botón «Ver todos»",
            "fr": "Afficher le bouton « Voir tout »",
            "pt-PT": "Mostrar botão \"Ver tudo\""
          },
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Blog posts",
        "de": "Blogposts",
        "es": "Publicaciones del blog",
        "fr": "Articles de blog",
        "pt-PT": "Publicações no blog"
      },
      "category": {
        "en": "Blog",
        "de": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "pt-PT": "Blog"
      },
      "settings": {}
    }
  ],
  "templates": [
    "404",
    "article",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "password",
    "product",
    "search"
  ]
}
{% endschema %}
