<div class="">
  <!-- Recipe tags -->
  <div id="rtag_wrapper" class="Carousel">
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/5-minutes" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/5-minutes.jpg?v=1617943772"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/5-minutes.jpg?v=1617943772" alt="dark">
      <div class="rtag_name">5 minutes</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/baked" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/baked.jpg?v=1617180142"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/baked.jpg?v=1617180142" alt="baked">
      <div class="rtag_name">Baked</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/brownies" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/brownies.png?v=1663037835"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/brownies.png?v=1663037835" alt="brownies">
      <div class="rtag_name">Brownies</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/cookies" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/cookies.jpg?v=1616139789"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/cookies.jpg?v=1616139789" alt="cookies">
      <div class="rtag_name">Cookies</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/donuts" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/donuts.jpg?v=1616140650"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/donuts.jpg?v=1616140650" alt="donuts">
      <div class="rtag_name">Donuts</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/drinks" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/drinks.jpg?v=1616139535"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/drinks.jpg?v=1616139535" alt="drinks">
      <div class="rtag_name">Drinks</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/ice-cream" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/ice-cream.jpg?v=6371897139347866427"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/ice-cream.jpg?v=6371897139347866427" alt="ice-cream">
      <div class="rtag_name">Ice-Cream</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/snacks" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/snacks.jpg?v=1616142279"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/snacks.jpg?v=1616142279" alt="snacks">
      <div class="rtag_name">Snacks</div>
    </a>
    <a href="https://craftbellydelights.com/blogs/recipes/tagged/sundaes" class="Carousel__Cell Carousel__Cell_sml">
      <img data-rtag="all" data-src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/sundaes.jpg?v=1616142452"
           src="https://cdn.shopify.com/s/files/1/0426/3070/9407/files/sundaes.jpg?v=1616142452" alt="sundaes">
      <div class="rtag_name">Sundaes</div>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Blog Tags Carousel",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Make section margins the same as theme"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Blog Tags Carousel"
    }
  ]
}
{% endschema %}
