<section class="section section--mb-s section--page page section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="page-custom">
    <div class="container container--{{ section.settings.container }} container--mob-0">
        <div class="home-custom__items">
            <div class="o-layout o-layout--center u-flex u-flex--middle u-flex--center">

                {% for block in section.blocks %}
                    <div class="o-layout__item u-1/1 u-{{ block.settings.width }}@tab">
                        {% if block.type == 'text' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content{% if block.settings.align == 'center' %} u-text-center{% endif %}">
                                    {% unless block.settings.title == blank %}
                                        <div class="section__title section__title--desc{% if block.settings.align == 'center' %} section__title--center{% endif %}">
                                            <h2 class="section__title-text">{{ block.settings.title | escape }}</h2>
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.text == blank %}
                                        <div class="home-custom__item-text rte">
                                            {{ block.settings.text }}
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.link == blank %}
                                        <div class="home-custom__item-link">
                                            <a href="{{ block.settings.link }}" class="link link--arrow">{{ block.settings.link_title | escape }}</a>
                                        </div>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'image' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content home-custom__item-content--image">
                                    {% unless block.settings.link == blank %}
                                        <a href="{{ block.settings.link }}" class="home-custom__link">
                                    {% endunless %}
                                        {% unless block.settings.image == blank %}

                                            <div class="o-ratio--custom" >
                                                <div class="o-ratio__content">

                                                    <div class="home-custom__img--cover u-bg-contain" style="background-image: url('{{ block.settings.image | img_url: '1x1' }}')"></div>

                                                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                    <img class="home-custom__img img-lazyload lazyload js"
                                                        data-src="{{ img_url }}"
                                                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                        data-sizes="auto"
                                                        alt="{{ block.settings.image.alt }}">

                                                </div>
                                            </div>
                                            <noscript>
                                                {% case block.settings.width %}
                                                    {% when '1/1' %}
                                                        {%- assign image_width = '1400x' -%}
                                                    {% when '2/3' %}
                                                        {%- assign image_width = '1200x' -%}
                                                    {% when '1/2' %}
                                                        {%- assign image_width = '1000x' -%}
                                                    {% when '1/3' %}
                                                        {%- assign image_width = '800x' -%}
                                                    {% when '1/4' %}
                                                        {%- assign image_width = '600x' -%}
                                                {% endcase %}
                                                <img class="home-custom__img"
                                                    src="{{ block.settings.image | img_url: image_width }}"
                                                    alt="{{ block.settings.image.alt }}">
                                            </noscript>
                                        {% else %}
                                            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        {% endunless %}
                                    {% unless block.settings.link == blank %}
                                        </a>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'button' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content">
                                    {% unless block.settings.title == blank %}
                                        <a href="{{ block.settings.link }}" class="c-btn c-btn--full home-custom__btn c-btn--{{ block.settings.color }} c-btn--{{ block.settings.size }}">{{ block.settings.title }}</a>
                                    {% endunless %}
                                </div>
                            </div>

                        {% elsif block.type == 'page' %}

                            <div class="home-custom__item">
                                <div class="home-custom__item-content">
                                    {%- assign page = pages[block.settings.page] -%}
                                    {% if block.settings.page_title %}
                                        <div class="section__title section__title--desc">
                                            <h2 class="section__title-text">{{ page.title }}</h2>
                                        </div>
                                    {% endif %}
                                    <div class="home-custom__item-text rte">
                                        {{ page.content }}
                                    </div>
                                </div>
                            </div>

                        {% elsif block.type == 'text-image' %}

                            <style>
                            .home-image-grid__item-{{ section.id }}{{ forloop.index }} .home-image-grid__bg:before,
                            .home-image-grid__item-{{ section.id }}{{ forloop.index }} .home-image-grid__bg--cover:before {
                                {% if block.settings.overlay_strength == 100 %}
                                    opacity: 1;
                                {% else %}
                                    opacity: .{{ block.settings.overlay_strength }};
                                {% endif %}
                            }
                            </style>

                            {% unless block.settings.link == blank %}
                            <a href="{{ block.settings.link }}" class="home-image-grid__link">
                            {% endunless %}
                                <div class="u-flex-parent">
                                    <div class="home-image-grid__item home-image-grid__item--image home-image-grid__item--{{ block.settings.height }} u-flex u-flex--{{ block.settings.text_alignment }} home-image-grid__item-{{ section.id }}{{ forloop.index }}">
                                        {% if block.settings.image %}
                                        <div class="home-image-grid__bg--cover u-bg-contain u-bg-overlay" style="background-image: url('{{ block.settings.image | img_url: '1x1' }}')"></div>
                                        {% endif %}
                                        <div class="home-image-grid__bg home-image-grid__bg--{{ block.id }} u-bg-cover u-bg-overlay u-bg-overlay--light{% if block.settings.title == blank and block.settings.text == blank %} home-image-grid__bg--no-overlay{% endif %}  img-lazyload lazyload js"
                                            data-bgset="{% render 'bgset', image: block.settings.image %}"
                                            data-sizes="auto"
                                            data-parent-fit="cover"
                                            {% if block.settings.image %}
                                            style="background-position: center {{ block.settings.image_alignment }};"
                                            {% endif %}>
                                            {% if block.settings.image == blank %}
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                        <noscript>
                                            <div class="home-image-grid__bg home-image-grid__bg--{{ block.id }} u-bg-cover u-bg-overlay u-bg-overlay--light{% if block.settings.title == blank and block.settings.text == blank %} home-image-grid__bg--no-overlay{% endif %}"
                                                {% if block.settings.image %}
                                                style="background-position: center {{ block.settings.image_alignment }}; background-image: url('{{ block.settings.image | img_url: '900x' }});"
                                                {% endif %}>
                                            </div>
                                            {% if block.settings.image == blank %}
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </noscript>

                                        <div class="home-image-grid__content">
                                            {% unless block.settings.title == blank %}
                                                <h3 class="home-image-grid__title {% if section.settings.featured and forloop.index == 1 %}h1{% else %}h2{% endif %}{% if settings.type_header_underline %} home-image-grid__title--underline{% endif %}">{{ block.settings.title }}</h3>
                                            {% endunless %}
                                            {% unless block.settings.text == blank %}
                                                <p class="home-image-grid__desc">{{ block.settings.text | escape }}</p>
                                            {% endunless %}
                                        </div>

                                    </div>
                                </div>
                            {% unless block.settings.link == blank %}
                            </a>
                            {% endunless %}

                        {% elsif block.type == 'text-color' %}

                            <div class="u-flex-parent">
                                <div class="home-image-grid__item home-image-grid__item--text home-image-grid__item--{{ block.settings.height }} u-flex u-flex--middle u-flex--center" style="background-color:{{ block.settings.bg_color }};">
                                    <div class="home-image-grid__content home-image-grid__content--{{ block.settings.text_color }}">
                                        {% unless block.settings.title == blank %}
                                            <h3 class="home-image-grid__title {% if section.settings.featured and forloop.index == 1 %}h1{% else %}h2{% endif %}{% if settings.type_header_underline %} home-image-grid__title--underline{% endif %}">{{ block.settings.title }}</h3>
                                        {% endunless %}
                                        {% unless block.settings.text == blank %}
                                            <div class="home-image-grid__desc rte">{{ block.settings.text }}</div>
                                        {% endunless %}
                                        {% unless block.settings.link == blank %}
                                            <a href="{{ block.settings.link }}" class="c-btn c-btn--primary c-btn--{{ block.settings.text_color }} home-image-grid__btn">{{ block.settings.link_text }}</a>
                                        {% endunless %}
                                    </div>
                                </div>
                            </div>

                        {% elsif block.type == 'break' %}

                            <div style="margin-bottom:{{ block.settings.height }}px"></div>

                        {% endif %}
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Page sections",
    "class": "js-section__page-custom",
    "settings": [
        {
            "type": "select",
            "id": "container",
            "label": "Container width",
            "default": "medium",
            "options": [
                {
                    "label": "Narrow",
                    "value": "tiny"
                },
                {
                    "label": "Wide",
                    "value": "medium"
                },
                {
                    "label": "Full-width",
                    "value": "full"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Promote your brand by using a powerful combination of buttons, custom text, page content and images.</p>"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Link label",
                    "default": "Learn more"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "align",
                    "label": "Text alignment",
                    "default": "center",
                    "options": [
                        {
                            "label": "Center",
                            "value": "center"
                        },
                        {
                            "label": "Left",
                            "value": "left"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Label",
                    "default": "Button"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "color",
                    "label": "Color",
                    "default": "primary",
                    "options": [
                        {
                            "label": "Brand",
                            "value": "primary"
                        },
                        {
                            "label": "Accent",
                            "value": "accent"
                        },
                        {
                            "label": "Light grey",
                            "value": "light"
                        },
                        {
                            "label": "Black",
                            "value": "dark"
                        },
                        {
                            "label": "White",
                            "value": "white"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "size",
                    "label": "Size",
                    "default": "default",
                    "options": [
                        {
                            "label": "Default",
                            "value": "default"
                        },
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "big"
                        },
                        {
                            "label": "Large",
                            "value": "bigger"
                        },
                        {
                            "label": "Extra large",
                            "value": "biggest"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "text-image",
            "name": "Text over image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_alignment",
                    "label": "Image alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_alignment",
                    "label": "Text alignment",
                    "default": "bottom",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "middle",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text over image"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text",
                    "default": "Use these image blocks to tell your story, promote your products or create a beautiful gallery."
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "range",
                    "id": "overlay_strength",
                    "label": "Overlay strength",
                    "unit": "%",
                    "min": 0,
                    "max": 100,
                    "step": 10,
                    "default": 30
                },
                {
                    "type": "select",
                    "id": "height",
                    "label": "Height",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "text-color",
            "name": "Text over color",
            "settings": [
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background color",
                    "default": "#f0f0f0"
                },
                {
                    "type": "select",
                    "id": "text_color",
                    "label": "Text color",
                    "default": "default",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "default-light",
                            "label": "Default light"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        },
                        {
                            "value": "white",
                            "label": "Light"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text over color"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Use these text blocks to promote seasonal sales, store events or to tell your brand's story.</p>"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Button label",
                    "default": "Learn more"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Button link"
                },
                {
                    "type": "select",
                    "id": "height",
                    "label": "Height",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "page",
            "name": "Page",
            "settings": [
                {
                    "type": "page",
                    "id": "page",
                    "label": "Page"
                },
                {
                    "type": "checkbox",
                    "id": "page_title",
                    "label": "Show title",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "1/2",
                    "options": [
                        {
                            "label": "Full width",
                            "value": "1/1"
                        },
                        {
                            "label": "One half",
                            "value": "1/2"
                        },
                        {
                            "label": "One third",
                            "value": "1/3"
                        },
                        {
                            "label": "One fourth",
                            "value": "1/4"
                        },
                        {
                            "label": "Two thirds",
                            "value": "2/3"
                        }
                    ]
                }
            ]
        },
        {
            "type": "break",
            "name": "Spacer",
            "settings": [
                {
                    "type": "select",
                    "id": "height",
                    "label": "Height",
                    "default": "0",
                    "options": [
                        {
                            "label": "None",
                            "value": "0"
                        },
                        {
                            "label": "Small",
                            "value": "18"
                        },
                        {
                            "label": "Medium",
                            "value": "36"
                        },
                        {
                            "label": "Large",
                            "value": "56"
                        }
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
