<div id="sidebar" style="margin-top: {{ section.settings.margin_top }}px">

  {% comment %}<h4>{{ section.settings.heading }}</h4>{% endcomment %}
  {% for block in section.blocks %}
    <div class="container-full">
      <div class="sidebar_item">
        <div class="home-custom__item-link">
          <a href="{{ block.settings.link }}" class="link link--arrow">{{ block.settings.title | escape }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="mm">
    <div class="menu-items w100">
      <div style="margin-bottom: 50px"><h4>ALL POSTS</h4></div>
      <div><h4><a href="https://craftbellydelights.com/blogs/recipes" class="menu-item first-item">Recipes</a></h4></div>
      <hr class="w100">
      <div><h4><a href="https://craftbellydelights.com/blogs/events" class="menu-item first-item">Events</a></h4></div>
      <hr class="w100">
      <div><h4><a href="https://craftbellydelights.com/blogs/keto-101" class="menu-item first-item">Keto 101</a></h4></div>
      <hr class="w100">
    </div>
  </div>

  <div class="mm">
    <div class="menu-items w100">
      {% for link in linklists.new-sidebar-menu.links %}
        <!-- menu content -->
        {% if link.links.size > 0 -%}
          {%- assign has_child = "has_child" -%}
        {% else %}
          {%- assign has_child = "no_child" -%}
        {% endif %}

        {% if has_child == "no_child" %}
          <h4><a class="{{ has_child }}" href="{{ link.url }}">{{ link.title }}</a></h4>
        {% else %}
          <div class="menu dropdown">
            <h4><a href="#" class="menu-item first-item expand-btn">{{ link.title }}</a></h4>
            <ul class="dropdown-menu">
              {% for child_link in link.links %}
                {% if child_link.links.size > 0 -%}
                  {%- assign second_has_child = "has_child" -%}
                {% else %}
                  {%- assign second_has_child = "no_child" -%}
                {% endif %}

                {% if second_has_child == "no_child" %}
                  <li><h4><a class="{{ has_child }} menu-item" href="{{ child_link.url }}">{{ child_link.title }}</a></h4></li>
                {% else %}
                  <li class="menu dropdown dropdown-right">
                    <h4><a href="#" class="menu-item  expand-btn">{{ child_link.title }}</a></h4>
                    <ul class="menu-right is_mega">
                      {% for grandchild_link in child_link.links %}
                        <li class="menu-link">
                          <a class="menu-item text_bold" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}

      {% comment %}<div class="dropdown">
        <a href="#" class="menu-item first-item expand-btn">Dropdown Left</a>
        <ul class="dropdown-menu sample">
          <li><a href="#" class="menu-item">Item 1</a></li>
          <li><a href="#" class="menu-item">Item 2</a></li>
          <li><a href="#" class="menu-item">Item 3</a></li>
          <li class="dropdown dropdown-right">
            <a href="#" class="menu-item expand-btn">
              Item 4
            </a>
            <ul class="menu-right is_mega sample">
              <li><a href="#" class="menu-item">Item 4.1</a></li>
              <li>
                <section>
                  <div class="menu-title">Category 1</div>
                  <a href="#" class="img-wrapper"><span class="img"><img src="https://picsum.photos/400?random=1" alt="Random Image" /></span></a>
                  <p>Very beautiful.</p>
                </section>
              </li>
              <li><a href="#" class="menu-item">Item 4.3</a></li>
              <li><a href="#" class="menu-item">Item 4.4</a></li>
              <li><a href="#" class="menu-item">Item 4.5</a></li>
              <li><a href="#" class="menu-item">Item 4.6</a></li>
              <li><a href="#" class="menu-item">Item 4.7</a></li>
              <li><a href="#" class="menu-item">Item 4.8</a></li>
            </ul>
          </li>
          <li><a href="#" class="menu-item">Item 5</a></li>
        </ul>
      </div>{% endcomment %}
    </div>
  </div>


  <div id="sb_products">
    <h4>Products</h4>
    <ul class="sidebar-product__list">
      {% for product in collections.all.products limit: 3 %}
        <li class="float-left w100">
          <a class="sidebar-product__list-item float-left" href="{{ product.url | within: collection }}" title="{{ product.title }}">
            <div class="sidebar-product__list-thumbnail">
              {%- assign img_url = product.featured_media.preview_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="product__img img-lazyload lazyload js"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512]"
                   data-sizes="auto"
                   alt="{{ product.featured_media.preview_image.alt | escape }}">
              <noscript>
                <img class="product__img"
                     src="{{ product.featured_media.preview_image.src | img_url: '720x' }}"
                     alt="{{ product.featured_media.preview_image.alt | escape }}">
              </noscript>
            </div>
          </a>
          <div class="sidebar-product__list-content float-left">
            <h6 class="sidebar-product__list-title">{{ product.title }}</h6>
            <div class="sidebar-product__list-price">
              <div class="product-single__reviews-stars">
                <div class="product-single__reviews-stars-link js-accordion-scroll js-accordion-trigger">
                  <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
                </div>
              </div>
              <span class="text_capital"> {% render 'product-price', product: product %} </span>
            </div>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% schema %}
{
  "name": "sidebar",
  "class": "js-section__sidebar sidebar d-none d-xl-block col-xl-3",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "Sidebar Heading"
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Margin Top, in pixel",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Padding Top, in pixel"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Mega menu"
    },
    {
      "type": "link_list",
      "id": "top_bar_linklist",
      "label": "Top Bar",
      "info": "Optional"
    }
  ],
  "presets": [
    {
      "name": "Sidebar",
      "category": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "content",
      "name": "Mega Menu",
      "settings": [
        {
          "id": "mega-menu",
          "type": "text",
          "label": "Mega Menu",
          "info": "Enter an existing menu item to apply a mega menu dropdown. [Learn more](https://support.weareeight.com/hc/en-us/articles/360020105877-How-to-Set-Up-a-Mega-Menu)"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "mega_image_1",
          "label": "Image",
          "info": "350 x 250px recommended"
        },
        {
          "type": "text",
          "id": "mega_image_header_1",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "mega_image_subheader_1",
          "label": "Subheading"
        },
        {
          "type": "url",
          "id": "mega_image_link_1",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "mega_image_2",
          "label": "Image",
          "info": "350 x 250px recommended"
        },
        {
          "type": "text",
          "id": "mega_image_header_2",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "mega_image_subheader_2",
          "label": "Subheader"
        },
        {
          "type": "url",
          "id": "mega_image_link_2",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
