{%- if section.settings.show_product_recommendations %}
    <div
        class="product-recommendations"
        data-product-id="{{ product.id }}"
        data-limit="4"
        data-section-id="{{ section.id }}"
        data-recommendations-url="{{ routes.product_recommendations_url }}"
        data-wetheme-section-type="template--product--recommandations"
        data-wetheme-section-id="{{ section.id }}"
    >
        <div class="container--product-page">
            {%- if recommendations.products_count > 0 -%}
                {% unless section.settings.product_recommendations_heading == blank %}
                    <div class="title-bar custom-font">
                    <h2>{{ section.settings.product_recommendations_heading }}</h2>
                    <div class="clear"></div>
                    </div>
                {% endunless %}
    
                <div class="row">
                    {%- for product in recommendations.products -%}
                        {% assign sold_out = true %}
                        {% if product.available %}
                            {% assign sold_out = false %}
                        {% endif %}
                        <div class="grid__item collection-image-anim wow col-md-3 col-6 indiv-product-wrapper{% cycle ' alpha mobile-clear tablet-clear', ' mobile-clear tablet-clear' %}">
    
                          {%-
                            render 'product-grid--indiv-product',
                            liquidObject: product,
                            section: section
                          -%}
    
                        </div>
                    {%- endfor -%}
                    </div>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": {
        "en": "Product recommendations",
        "de": "Produktempfehlungen",
        "es": "Recomendaciones de productos",
        "fr": "Recommandations de produits",
        "pt-PT": "Recomendações de produtos"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "show_product_recommendations",
            "label": {
                "en": "Show dynamic recommendations",
                "de": "Dynamische Empfehlungen anzeigen",
                "es": "Mostrar recomendaciones dinámicas",
                "fr": "Montrer des recommandations dynamiques",
                "pt-PT": "Mostrar recomendações dinâmicas"
            },
            "info": {
                "en": "Dynamic recommendations change and improve with time. [Learn more](https://support.weareeight.com/hc/en-us/articles/360020250078-Product-Recommendations)",
                "de": "Dynamische Empfehlungen verändern und verbessern sich mit der Zeit. [Mehr erfahren](https://support.weareeight.com/hc/en-us/articles/360020250078-Product-Recommendations)",
                "es": "Las recomendaciones dinámicas cambian y mejoran con el tiempo. [Aprenda más](https://support.weareeight.com/hc/en-us/articles/360020250078-Product-Recommendations)",
                "fr": "Les recommandations dynamiques changent et s'améliorent avec le temps. [En savoir plus](https://support.weareeight.com/hc/en-us/articles/360020250078-Product-Recommendations)",
                "pt-PT": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saber mais](https://support.weareeight.com/hc/en-us/articles/360020250078-Product-Recommendations)"
            },
            "default": true
        },
        {
            "type": "text",
            "id": "product_recommendations_heading",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "You may also like",
                "de": "Ihnen könnte auch gefallen",
                "es": "También podría gustarle",
                "fr": "Vous aimerez peut-être aussi",
                "pt-PT": "Também poderá gostar de"
            }
        }
    ]
}
{% endschema %}
