<article id="{{ template.name }}-{{page.handle}}" class="page hentry container">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">{{ page.title }}</h1>
		</div>
	</header>
	<section class="entry-content">
		{{ page.content }}
	</section>
</article>

{% schema %}
{
  "name": "page-has-sidebar",
  "class": "js-section__page_has_sidebar",
  "settings": [
  ],
  "blocks": [
  ]
}
{% endschema %}
