{{ 'section-video-with-text-overlay.min.css' | asset_url | stylesheet_tag }}
{%- capture section_settings -%}
{
  "videoIdMob": {{ section.settings.videoIdMob.id | json }},
}
{%- endcapture -%}
{% capture textalignment %}
    {% case section.settings.textAlignment %}
    {% when 'top-left' %}
        text-align-top-left
    {% when 'top-center' %}
        text-align-top-center
    {% when 'top-right' %}
        text-align-top-right
    {% when 'center-left' %}
        text-align-center-left
    {% when 'center' %}
        text-align-center
    {% when 'center-right' %}
        text-align-center-right
    {% when 'bottom-left' %}
        text-align-bottom-left
    {% when 'bottom-center' %}
        text-align-bottom-center
    {% when 'bottom-right' %}
        text-align-bottom-right
    {% endcase %}
{% endcapture %}

{% capture desktopheight %}
    {% case section.settings.desktopHeight %}
    {% when '450' %}
        desktop-height-450
    {% when '550' %}
        desktop-height-550
    {% when '650' %}
        desktop-height-650
    {% when '750' %}
        desktop-height-750
    {% when 'fullscreen' %}
        desktop-height-fullscreen
    {% endcase %}
{% endcapture %}

{% capture mobileheight %}
    {% case section.settings.mobileHeight %}
    {% when '250' %}
        mobile-height-250
    {% when '350' %}
        mobile-height-350
    {% when '450' %}
        mobile-height-450
    {% when '550' %}
        mobile-height-550
    {% when 'fullscreen' %}
        mobile-height-fullscreen
    {% when 'fit' %}
        mobile-height-fit
    {% endcase %}
{% endcapture %}

{% capture isplaceholder %}
    {% if section.settings.url contains "watch?v=_9VUPq3SxOc" %}
        is-placeholder
    {% endif %}
{% endcapture %}

<section
    class="homepage-sections-wrapper homepage-content--{{ section.id }} hero-video {{ desktopheight | strip }} {{ mobileheight | strip }} {{ isplaceholder | strip }}"
    data-wetheme-section-type="video--video-with-text-overlay"
    data-wetheme-section-id="{{ section.id }}"
    tabindex="0"
>
    <div class="hero-video--wrapper">
        {% assign type = 'invalid' %}
        {% if section.settings.url contains "youtube.com" %}
            {% assign type = 'youtube' %}
        {% elsif section.settings.url contains "youtu.be" %}
            {% assign type = 'youtube' %}
        {% elsif section.settings.url contains "vimeo.com" %}
            {% assign type = 'vimeo' %}
        {% elsif section.settings.url contains "cdn.shopify.com" %}
            {% unless section.settings.url contains ".mov" or section.settings.url contains ".wmv" or section.settings.url contains ".avi" %}
                {% assign type = 'mp4' %}
            {% endunless %}
        {% endif %}
        <div class="hero-video--media hero-video--{{ type }}"{% if type == "invalid"%} style="display: none;"{% endif %}>
            <wetheme-video
                hero="true"
                video-type="{{ type }}"
                url="{{ section.settings.url }}"
                autoplay="true"
                loop="true"
                mute="true"
                hide-controls="true"
            >
            </wetheme-video>
            <video id="mobile_vid_bn" muted playsinline autoplay loop src="{{ section.settings.videoIdMob }}" class="{{ section.settings.mobileHeight }}"></video>
            {% if section.settings.mobileHeight == 'fit' %}
                {% comment %}<div class="hero-video--mobile-image">
                    {% if section.settings.image != blank %}
                        {% render 'responsive-image' with section.settings.image, alt: section.settings.image.alt %}
                    {% else %}
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'icon--placeholder' }}
                    {% endif %}
                </div>{% endcomment %}
            {% endif %}
        </div>
        <div class="hero-video--text">
            {% if section.settings.image == blank %}
                {% comment %}<div class="placeholder-background img"{% if type == "invalid" %} style="display: block;"{% endif %}>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'icon--placeholder' }}
                </div>{% endcomment %}
            {% else %}
                <div class="section-background img"{% if type == "invalid" %} style="display: block;"{% endif %}>
                </div>
            {% endif %}
            <div class="hero-video--text-content {{ textalignment | strip }}">
                <div class="text-content--inner{% if section.settings.textShadow %} text-shadow{% endif %} wow">
                    {% if section.settings.subheading != blank %}
                      <h3 class="type-subheading{% if section.settings.title != blank %} typography--padding-bottom {% endif %}"> {{ section.settings.subheading | escape }}</h3>
                    {% endif %}
                    {% if section.settings.title != blank %}
                      <div class="hero-video--text-title">
                        <h1 class="text-size-{{ section.settings.heading--text-size }}px wow">{{ section.settings.title }}</h1>
                      </div>
                    {% endif %}
                    {% if section.settings.text != blank %}
                      <div class="hero__text textarea rte">{{ section.settings.text }}</div>
                    {% endif %}
                    {% if section.settings.button_label != blank %}
                    <div class="hero-video--button">
                        <a class="btn" href="{{ section.settings.button_link }}" tabindex="0">{{ section.settings.button_label }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if section.settings.image != blank %}
	<style>
        {% capture selector %}.homepage-content--{{ section.id }} .section-background{% endcapture %}
        {% capture video_poster %}.homepage-content--{{ section.id }} .plyr--video{% endcapture %}
        {% render 'responsive-background-image' with section.settings.image, selector: selector %}
        {% render 'responsive-background-image' with section.settings.image, selector: video_poster %}

        .homepage-content--{{ section.id }} .section-background,
        .homepage-content--{{ section.id }} .plyr--video {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
	</style>
{% endif %}

<style>
    .homepage-content--{{ section.id }} .hero-video--text {
        color: {{ section.settings.textColor }};
    }

	.hero-video--text h3.type-subheading {
      font-size: {{ section.settings.subheading--text-size }}px;
      line-height: normal;
    }
</style>

{% schema %}
{
    "name": {
      "en": "Video with text overlay",
      "de": "Video mit Texteinblendung",
      "es": "Vídeo con superposición de texto",
      "fr": "Vidéo avec superposition de texte",
      "pt-PT": "Vídeo com sobreposição de texto"
    },
    "class": "video-with-text-overlay__wrapper",
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Video",
                "de": "Video",
                "es": "Vídeo",
                "fr": "Vidéo",
                "pt-PT": "Vídeo"
            }
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Fallback image",
                "de": "Hintergrundbild",
                "es": "Imagen de respaldo",
                "fr": "Image de substitution",
                "pt-PT": "Imagem alternativa"
            },
            "info": {
                "en": "Always shown on mobile devices",
                "de": "Wird immer auf Mobilgeräten angezeigt",
                "es": "Mostrar siempre dispositivos móviles",
                "fr": "S'affiche toujours sur les appareils mobiles",
                "pt-PT": "Sempre mostrado em dispositivos móveis"
            }
        },
        {
            "id": "url",
            "type": "text",
            "label": {
                "en": "Video URL",
                "de": "Video-URL",
                "es": "URL del vídeo",
                "fr": "URL de la vidéo",
                "pt-PT": "URL do Vídeo"
            },
            "info": {
                "en": "Accepts YouTube, Vimeo and .mp4 [read more](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)",
                "de": "Akzeptiert YouTube, Vimeo und.mp4 [mehr erfahren](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)",
                "es": "Acepta YouTube, Vimeo y .mp4 [más información](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)",
                "fr": "Accepte YouTube, Vimeo et .mp4 [en savoir plus](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)",
                "pt-PT": "Aceita YouTube, Vimeo e .mp4 [ler mais](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)"
            },
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "id": "videoIdMob",
            "type": "text",
            "label": "Mobile video url",
            "info": "Accepts YouTube, Vimeo and .mp4 [read more](https://support.weareeight.com/hc/en-us/articles/360020250338-Product-Media#Videos)"
        },
        {
            "type": "select",
            "id": "desktopHeight",
            "label": {
              "en": "Section height",
              "de": "Abschnitthöhe",
              "es": "Altura de la sección",
              "fr": "Hauteur de section",
              "pt-PT": "Altura da secção"
            },
            "default": "fullscreen",
            "options": [
                {
                    "value": "fullscreen",
                    "label": {
                        "en": "Fullscreen",
                        "de": "Vollbild",
                        "es": "Pantalla completa",
                        "fr": "Plein écran",
                        "pt-PT": "Ecrã inteiro"
                    }
                },
                {
                    "value": "450",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "550",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "650",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                },
                {
                    "value": "750",
                    "label": {
                        "en": "Extra large",
                        "de": "Extra groß",
                        "es": "Muy grande",
                        "fr": "Extra grande",
                        "pt-PT": "Extra Grande"
                    }
                }
            ]
        },
        {
            "type": "select",
            "id": "mobileHeight",
            "label": {
                "en": "Mobile section height",
                "de": "Höhe des beweglichen Teils",
                "es": "Altura de la sección móvil",
                "fr": "Hauteur de la section mobile",
                "pt-PT": "Altura da secção móvel"
            },
            "default": "fullscreen",
            "options": [
                {
                    "value": "fullscreen",
                    "label": {
                        "en": "Fullscreen",
                        "de": "Vollbild",
                        "es": "Pantalla completa",
                        "fr": "Plein écran",
                        "pt-PT": "Ecrã inteiro"
                    }
                },
                {
                    "value": "fit",
                    "label": {
                        "en": "Fit to screen width",
                        "de": "An Bildschirmbreite anpassen",
                        "es": "Ajustar al ancho de la pantalla",
                        "fr": "Ajuster à la largeur de l'écran",
                        "pt-PT": "Ajustar à largura do ecrã"
                    }
                },
                {
                    "value": "250",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "350",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "450",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                },
                {
                    "value": "550",
                    "label": {
                        "en": "Extra large",
                        "de": "Extra groß",
                        "es": "Muy grande",
                        "fr": "Extra grande",
                        "pt-PT": "Extra Grande"
                    }
                }
            ]
        },
        {
            "type": "header",
            "content": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            }
        },
        {
            "type": "text",
            "id": "subheading",
            "label": {
                "en": "Subheading",
                "de": "Unterüberschrift",
                "es": "Subencabezado",
                "fr": "Sous-rubrique",
                "pt-PT": "Subtítulo"
            },
            "default": {
                "en": "Subheading",
                "de": "Unterüberschrift",
                "es": "Subencabezado",
                "fr": "Sous-rubrique",
                "pt-PT": "Subtítulo"
            }
        },
        {
            "type": "textarea",
            "id": "title",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "Share your story",
                "de": "Teilen Sie Ihre Geschichte",
                "es": "Comparte tu historia",
                "fr": "Partagez votre histoire",
                "pt-PT": "Partilhe a sua história"
            }
        },
        {
            "type": "richtext",
            "id": "text",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "<p>Here's your chance to make a great first impression</p>",
                "de": "<p>Hier ist Ihre Chance, einen großartigen ersten Eindruck zu hinterlassen.</p>",
                "es": "<p>Esta es tu oportunidad de causar una buena primera impresión</p>",
                "fr": "<p>C'est le moment ou jamais de faire une excellente première impression</p>",
                "pt-PT": "<p>Aqui está a sua oportunidade de causar uma excelente primeira impressão</p>"
            }
        },
        {
            "type": "select",
            "id": "textAlignment",
            "label": {
                "en": "Text position",
                "de": "Textposition",
                "es": "Posición del texto",
                "fr": "Position du texte",
                "pt-PT": "Posição do texto"
            },
            "default": "center",
            "options": [
                {
                    "value": "top-left",
                    "label": {
                        "en": "Top left",
                        "de": "Oben links",
                        "es": "Esquina superior izquierda",
                        "fr": "En haut à gauche",
                        "pt-PT": "Canto superior esquerdo"
                    }
                },
                {
                    "value": "top-center",
                    "label": {
                        "en": "Top center",
                        "de": "Oben Mitte",
                        "es": "Zona superior central",
                        "fr": "En haut au centre",
                        "pt-PT": "Centro superior"
                    }
                },
                {
                    "value": "top-right",
                    "label": {
                        "en": "Top right",
                        "de": "Oben rechts",
                        "es": "Esquina superior derecha",
                        "fr": "En haut à droite",
                        "pt-PT": "Canto superior direito"
                    }
                },
                {
                    "value": "center-left",
                    "label": {
                        "en": "Center left",
                        "de": "Mitte links",
                        "es": "Zona central izquierda",
                        "fr": "Centre gauche",
                        "pt-PT": "Centrar à esquerda"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center",
                        "de": "Mitte",
                        "es": "Zona central",
                        "fr": "Centre",
                        "pt-PT": "Centro"
                    }
                },
                {
                    "value": "center-right",
                    "label": {
                        "en": "Center right",
                        "de": "Mitte rechts",
                        "es": "Zona central derecha",
                        "fr": "Centre droit",
                        "pt-PT": "Centrar à direita"
                    }
                },
                {
                    "value": "bottom-left",
                    "label": {
                        "en": "Bottom left",
                        "de": "unten links",
                        "es": "esquina inferior izquierda",
                        "fr": "en bas à gauche",
                        "pt-PT": "Canto inferior esquerdo"
                    }
                },
                {
                    "value": "bottom-center",
                    "label": {
                        "en": "Bottom center",
                        "de": "unten Mitte",
                        "es": "Zona inferior central",
                        "fr": "en bas au centre",
                        "pt-PT": "Centro inferior"
                    }
                },
                {
                    "value": "bottom-right",
                    "label": {
                        "en": "Bottom right",
                        "de": "Unten rechts",
                        "es": "Esquina inferior derecha",
                        "fr": "En bas à droite",
                        "pt-PT": "Canto inferior direito"
                    }
                }
            ]
        },
        {
            "type": "color",
            "id": "textColor",
            "label": {
                "en": "Text color",
                "de": "Textfarbe",
                "es": "Color del texto",
                "fr": "Couleur du texte",
                "pt-PT": "Cor do texto"
            },
            "default": "#000000"
        },
        {
            "type": "checkbox",
            "id": "textShadow",
            "label": {
                "en": "Text shadow",
                "de": "Textschatten",
                "es": "Sombra del texto",
                "fr": "Ombre de texte",
                "pt-PT": "Sombra do texto"
            },
            "default": false
        },
        {
            "type": "range",
            "id": "subheading--text-size",
            "min": 12,
            "max": 30,
            "step": 2,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Subheading size",
                "de": "Größe der Unterrubrik",
                "es": "Tamaño del subtítulo",
                "fr": "Taille du sous-titre",
                "pt-PT": "Tamanho do subtítulo"
            },
            "default": 14
        },
        {
            "type": "range",
            "id": "heading--text-size",
            "min": 16,
            "max": 60,
            "step": 2,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Heading size",
                "de": "Überschift-Größe",
                "es": "Tamaño del encabezado",
                "fr": "Taille de la rubrique",
                "pt-PT": "Tamanho do título"
            },
            "default": 50
        },
        {
            "type": "header",
            "content": {
                "en": "Button",
                "de": "Button",
                "es": "Botón",
                "fr": "Bouton",
                "pt-PT": "Botão"
            }
        },
        {
            "type": "url",
            "id": "button_link",
            "label": {
                "en": "Button link",
                "de": "Buttonlink",
                "es": "Enlace del botón",
                "fr": "Lien du bouton",
                "pt-PT": "Ligação do botão"
            }
        },
        {
            "type": "text",
            "id": "button_label",
            "label": {
                "en": "Button label",
                "de": "Buttontext",
                "es": "Texto del botón",
                "fr": "Texte des boutons",
                "pt-PT": "Texto do botão"
            }
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Video with text overlay",
                "de": "Video mit Texteinblendung",
                "es": "Vídeo con superposición de texto",
                "fr": "Vidéo avec superposition de texte",
                "pt-PT": "Vídeo com sobreposição de texto"
            },
            "category": {
                "en": "Video",
                "de": "Video",
                "es": "Vídeo",
                "fr": "Vidéo",
                "pt-PT": "Vídeo"
            }
        }
    ]
}
{% endschema %}
